{% assign image = page.footer | default: site.footer | relative_url %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background"
  style="--image: url('{{ image }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>
  <!--
    <div>
      Extra details like contact info or address
    </div>
  -->

  <div>
    {% for link in site.links %}
      {% assign key = link[0] %}
      {% assign value = link[1] %}
      {% include button.html type=key text="" link=value style="bare" %}
    {% endfor %}
  </div>

  <div>
    &copy; {{ site.time | date: "%Y" }}
    {{ site.title }}
    &nbsp; | &nbsp; Built with
    <a href="https://github.com/greenelab/lab-website-template">
      Lab Website Template
    </a>
  </div>
  The McNutt Lab is affiliated with Wake Forest University School of Medicine and Atrium Health Wake Forest Baptist. The content of this website is curated by the PI and members of the lab, and should not be taken as the opinions or positions of WFUSM or Atrium Health Wake Forest Baptist.
  <input
    type="checkbox"
    class="dark-toggle"
    data-tooltip="Dark mode"
    aria-label="toggle dark mode"
    oninput="onDarkToggleChange(event)"
  >
</footer>
